.vrlight-body__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(5, 619px) ;
    gap: 20px;
    grid-template-areas:
    'vrl-t vrl-t'
    'vrl-h vrl-h'
    'vrl-i vrl-i'
    'vrl-tech .'
    'vrl-tech vrl-b';

}
.vrlight-body_title {
    grid-area: vrl-t;
    display: flex;
    justify-content: space-between;
    text-align: right;
}
.vrlight-body_hardware {
    grid-area: vrl-h;
    display: flex;
    justify-content: space-between;
    text-align: right;

}
.vrlight-body_input {
    grid-area: vrl-i;
    display: flex;
    justify-content: space-between;
    text-align: right;
}
.vrlight-body_technical {
    grid-area: vrl-tech;
    background-color: var(--font-color1);
    padding: 55px 42px;
    color: var(--font-color2);
}
.vrlight-body_buy {
    grid-area: vrl-b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background: radial-gradient(100% 162.88% at 0% 0%, #3479FF 0%, #B462F4 100%);
    padding: 55px 42px;
    color: var(--font-color2);

}

.vrlight-body_title h1{
    width: 20%;
    padding-bottom: 54px;
    border-bottom: 1px solid var(--font-color1);
    line-height: 100%;
    align-self: center;
}
.vrlight-body_hardware div, .vrlight-body_input div{
    align-self: center;
}
.vrlight-body h3{
    margin-bottom: 42px;
}
.vrlight-body_buy a{
    padding: 32px 100px;
    font-size: 2rem;
}
